# Count HTML, CSS and JavaScript files as real languages
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true

# Make files inside docs/ count
docs/** linguist-detectable=true

# If docs/ was classified as vendored, explicitly un-vendor it
docs/** linguist-vendored=false

# Don't count minified files
*.min.js linguist-generated=true
*.min.css linguist-generated=true
