# Frontend files
docs/**/*.html linguist-detectable=true
docs/**/*.css linguist-detectable=true
docs/**/*.js linguist-detectable=true

# Make sure the docs frontend is not treated as vendored
docs/** linguist-vendored=false

# Make sure frontend files are not treated as generated
docs/** linguist-generated=false

# Do not count minified files
docs/**/*.min.js linguist-generated=true
docs/**/*.min.css linguist-generated=true
